/** Global **/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HEADER STYLES */
.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
  position: fixed;
  z-index: 2;
}

.inner_header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: #006931;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span {
  color: #e12229;
  font-weight: 800;
}

/** Navigation **/

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-size: 16px;
}

/* BANNER STYLES */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("https://wallpaperaccess.com/full/866645.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-left: 20%;
}

.banner_content {
  color: #fff;
  width: 55%;
  padding-top: 170px;
}

.banner_content span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}

.banner_content h1 {
  color: #006931;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: 200;
}

.banner_content h1 span {
  color: #e12229;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 3px;
}

.banner_content hr {
  background: linear-gradient(to right, green, white, red);
  border: 0 solid #10101054;
  height: 1px;
}

.banner_content h2 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
}

.banner_content p {
  margin-bottom: 40px;
  padding-top: 20px;
  font-size: 16px;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.banner_content p span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}

.banner_content p em {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.banner_content p em span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.banner_content a {
  margin-right: 20px;
}

.banner_content .btn-one {
  padding: 15px 35px;
  background-color: rgba(0, 0, 0, 0.527);
  border: 2px solid #006931;
  border-radius: 50px;
  font-size: 18px;
  color: #006931;
}

.banner_content .btn-two {
  padding: 15px 55px;
  background-color: #e12229;
  border: 2px solid #e12229;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.banner_content .btn-one:hover {
  background-color: #00693198;
  border: 2px solid rgba(0, 0, 0, 0.527);
  color: #000;
}

.banner_content .btn-two:hover {
  background-color: rgba(0, 0, 0, 0.527);
  border: 2px solid #e12229;
  color: #e12229;
}

/* ABOUT SECTION */
.about {
  background: url("https://irp-cdn.multiscreensite.com/e6a79761/DESKTOP/jpg/1829880-home-v1-2.jpg")
    no-repeat left;
  background-size: 55%;
  background-color: #e8e8e8;
  overflow: hidden;
  padding: 100px 20px;
  border: 80px solid #e8e8e8;
  height: 100vh;
}

.about_section {
  width: 55%;
  float: right;
  background-color: #e8e8e8;
  padding: 140px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.about_section h2 {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}

.about_section h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}

.about_text {
  color: #101010;
  text-align: justify;
  margin-bottom: 40px;
  padding-top: 20px;
  font-size: 16px;
  letter-spacing: 1.5;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .about_section {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }

  .about_section {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;
  }
  .about_section {
    padding: 60px;
  }
}

/* SERVICES SECTION */
.services_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("https://hornosparapizzas.online/wp-content/uploads/2019/04/horno-para-pizza-industrial-precio.jpg");
  background-size: cover;
  padding: 60px 0;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: 400;
}

.inner_width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.section_title {
  color: #fff;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}

.border {
  width: 160px;
  height: 1px;
  background: linear-gradient(to right, green, white, red);
  margin: 50px auto;
}

.services_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service_box {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.service_icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  color: #fff;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}

.service_icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}

.service_box:hover .service_icon {
  border: 3px solid #e12229;
  color: #e12229;
}

.service_title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service_desc {
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5;
  line-height: 1.5;
}

/* CONTACT SECTION */
.contact {
  position: relative;
  min-height: 50vh;
  padding: 50px 17%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #771417;
  background: linear-gradient(rgba(119, 20, 23), rgb(119, 20, 23, 0.9));
}

.contact_content {
  max-width: 800px;
  text-align: center;
}

.contact_content h2 {
  color: #fff;
  padding-bottom: 30px;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
}

.contact_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.contact_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.contact_info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact_box {
  display: flex;
  position: relative;
  padding: 20px 0;
}

.contact_icon {
  background-color: #fff;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contact_text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact_text h3 {
  font-weight: 500;
  color: #edbe03;
}

.contact_form {
  width: 40%;
  padding: 40px;
  background-color: #fff;
}

.contact_form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.input_box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.input_box input,
.input_box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.input_box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.input_box input:focus ~ span,
.input_box input:valid ~ span,
.input_box textarea:focus ~ span,
.input_box textarea:valid ~ span {
  color: #edbe03;
  font-size: 12px;
  transform: translateY(-20px);
}

.input_box input[type="submit"] {
  width: 100px;
  background-color: #edbe03;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .contact_container {
    flex-direction: column;
  }

  .contact_info {
    margin-bottom: 40px;
  }

  .contact_info,
  .contact_form {
    width: 100%;
  }
}

/** Footer Site **/
footer {
  width: 100%;
  background-color: #101010;
  color: white;
  font-family: "Montserrat";
}
.footer {
  max-width: 1000px;
  display: flex;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
}
.container-footer {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 40px 40px 10px 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum_01 {
  max-width: 400px;
}

.colum_01 h1 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.colum_01 p {
  font-size: 14px;
  color: #e6e6e6;
  margin-top: 20px;
}

.colum_02 {
  max-width: 400px;
  margin-bottom: 40px;
}

.colum_02 h1 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.social_m {
  margin-top: 20px;
  display: flex;
}

.social_m img {
  width: 36px;
  height: 36px;
}

.social_m label {
  margin-top: 10px;
  margin-left: 20px;
  color: #e6e6e6;
}

.social_m label a {
  color: #e6e6e6;
}

.container-footer-low {
  width: 100%;
  background: #101010;
}
.copy a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 15px;
}
.info a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.navigation_footer a:hover {
  color: #e12229;
  transition-duration: 0.6s;
}

@media screen and (max-width: 1000px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum_01 {
    max-width: 100%;
  }

  .colum_02 {
    margin: 40px 0 40px 0;
  }
  .copy {
    margin-right: 15px;
  }
}
.line-content hr {
  background: linear-gradient(to right, green, white, red);
  border: 0 solid #10101054;
  height: 1px;
}
