/* Global */
:root {
  --primario: #e12229;
  --secundario: #017e3b;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(0, 0, 0, 0.527);
  --sombra: rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.9rem;
}

body {
  min-width: 1200px;
}

.container {
  max-width: 1300px;
}

/* BUTTONS */

.buttons .btn-two {
  width: 30rem;
  font-size: 1.9rem;
}

.buttons .btn-one {
  width: 20rem;
  font-size: 1.9rem;
}

/* HEADER */

/* BANNER */

.banner-image {
  height: 100vh;
}

.banner h1 {
  font-size: 5.5rem;
}

.banner hr {
  width: 60rem;
}

.banner p {
  font-size: 1.9rem;
  line-height: 2.6rem;
}

/* ABOUT */

.about_image {
  padding: 18rem 2rem 26rem 1rem;
  height: 90vh;
}

/* SERVICES */

.services {
  height: 90vh;
}

#servicios4,
#servicios5 {
  display: block;
}

/* CONTACT */

.contact {
  height: 90vh;
  display: flex;
  align-items: center;
}

.contact h3 {
  font-size: 2.5rem;
}

/* FOOTER */

.footer_content {
  height: 10vh;
}

.footer_content h2 {
  font-size: 3.4rem;
  font-weight: 500;
}

.copy {
  font-size: 2rem;
}
