/* Global */
:root {
  --primario: #e12229;
  --secundario: #02662d;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo: #eeeeee;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(16, 16, 16, 0.5);
  --sombra: rgba(0, 0, 0, 0.25);
  --font_texto: 1.4rem;
}

/* HEADER STYLES */
.header__content {
  padding: 0 100px;
}
.header__nav a {
  font-size: 1.4rem;
}

/* BANNER STYLES */
.banner {
  padding: 100px;
  width: 100%;
}
.banner__content p {
  font-size: 1.6rem;
}
.banner__content h1 {
  font-size: 4.5rem;
}
.banner__content hr {
  width: 400px;
  border: 1px solid #e3e3e3;
}
.banner__content h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
.banner__content .text {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.btn-one {
  width: 150px;
}
.btn-two {
  width: 236px;
}
