/* Global */
:root {
  --primario: #e12229;
  --secundario: #02662d;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo: #eeeeee;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(16, 16, 16, 0.5);
  --sombra: rgba(0, 0, 0, 0.25);
  --font_texto: 1.4rem;
}

html {
  min-width: 380px;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HEADER STYLES */
.header__content {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  position: fixed;
  justify-content: space-between;
  background-color: var(--oscuro);
}
.header__title {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secundario);
}
.header__title span {
  font-weight: 600;
  color: var(--primario);
}
.header__nav {
  display: none;
}
.header__button {
  line-height: 70px;
}

/* BANNER STYLES */
.banner {
  padding: 0 40px;
  letter-spacing: 0.15rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.banner-image {
  height: 100vh;
  min-height: 870px;
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 75%)),
    url(../assets/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner p {
  font-size: var(--font_texto);
  color: var(--parrafos);
}

.banner h1 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 4rem;
  font-weight: 400;
  color: var(--secundario);
}

.banner h1 span {
  font-weight: 600;
  color: var(--primario);
}

.banner hr {
  width: 180px;
  margin: 15px auto;
  border: 1px solid var(--parrafos);
}

.banner h2 {
  padding-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--parrafos);
}

.text {
  margin-bottom: 20px;
  font-weight: 400;
}

.buttons {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttons .btn-two {
  margin: 0 30px;
  margin-bottom: 10px;
  padding: 15px 25px;
  font-size: 1.4rem;
  background-color: var(--primario);
  color: var(--parrafos);
  border: 2px solid var(--primario);
  border-radius: 50px;
}

.buttons .btn-one {
  margin: 0 30px;
  margin-bottom: 60px;
  padding: 15px 25px;
  font-size: 1.7rem;
  background-color: var(--fondoBotones);
  color: var(--secundario);
  border: 0.2rem solid var(--secundario);
  border-radius: 50px;
}

/* ABOUT STYLES */
.about_section {
  height: auto;
  padding: 50px 30px;
  background-color: var(--fondo2);
}

.about_container2 {
  display: inline-block;
  width: 100%;
}

.about_img img {
  height: 200px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}

.about_text {
  height: auto;
  width: 100%;
  padding: 2rem 5rem;
  text-align: center;
  background-color: var(--fondo2);
  border-radius: 0 0 4px 4px;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
}

.about_text h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.about_text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.about_text hr {
  margin-bottom: 10px;
  border: 1px solid black;
}

.about_text p {
  font-size: 1.4rem;
}

/* SERVICES STYLES */
.service_section {
  padding: 50px 30px;
  background-image: url(/assets/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service_content {
  width: 100%;
  padding: 46px;
  background-color: var(--fondo2);
  border-radius: 4px;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
}

.service_text {
  text-align: center;
}

.service_text h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.service_text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.service_text hr {
  margin-bottom: 20px;
  border: 1px solid black;
}

.service_products {
  width: 100%;
}

.service_products figure img {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0.4rem;
  object-fit: cover;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
}

#img3 {
  margin-bottom: 0;
}

#img4,
#img5 {
  display: none;
}

/* CONTACT STYLES */
.contact_section {
  height: auto;
  width: 100%;
  padding: 30px;
  background-color: var(--fondo2);
}

.contact_content {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.contact_title h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.contact_title hr {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

.contact_title p {
  display: none;
}

.contact_info {
  display: table;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: start;
  text-transform: uppercase;
}

.contact_info--content {
  display: flex;
  padding-bottom: 20px;
}

.contact_info--icon i {
  font-size: 2rem;
  padding-right: 10px;
  color: var(--primario);
}

.contact_map {
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
}

/* FOOTER */
.footer {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--oscuro);
  color: var(--parrafos);
}

.footer_content h2 {
  margin: 10px 0;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secundario);
}

.footer_content h2 span {
  font-weight: 600;
  color: var(--primario);
}

.copy {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.copy a {
  color: var(--primario);
}
