/* Global */
:root {
  --primario: #e12229;
  --secundario: #02662d;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo: #eeeeee;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(16, 16, 16, 0.5);
  --sombra: rgba(0, 0, 0, 0.25);
  --font_texto: 1.4rem;
}

html {
  min-width: 380px;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HEADER STYLES */
.logo_container p {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: var(--secundario);
}

.logo_container p span {
  font-weight: 600;
  color: var(--primario);
}

.inner_header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--oscuro);
}

.inner_header li {
  margin-top: 30px;
  padding: 0;
  font-size: 1.6rem;
  color: #fff;
}

.inner_header li:last-child {
  padding-bottom: 30px;
}

.navigation {
  position: fixed;
  top: 0%;
  width: 100%;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--oscuro);
  transition: left 0.3s;
}

.nav_hidden {
  display: inline-block;
  top: 100%;
}

.toggle {
  display: flex;
  font-size: 2.5rem;
  color: var(--fondo2);
  background: none;
  border: none;
  cursor: pointer;
}

/* BANNER STYLES */
.banner {
  padding: 0 40px;
  letter-spacing: 0.15rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.banner-image {
  height: 100vh;
  min-height: 870px;
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 75%)),
    url(../assets/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner p {
  font-size: var(--font_texto);
  color: var(--parrafos);
}

.banner h1 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 4rem;
  font-weight: 400;
  color: var(--secundario);
}

.banner h1 span {
  font-weight: 600;
  color: var(--primario);
}

.banner hr {
  width: 180px;
  margin: 15px auto;
  border: 1px solid var(--parrafos);
}

.banner h2 {
  padding-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--parrafos);
}

.text {
  margin-bottom: 20px;
  font-weight: 400;
}

.buttons {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttons .btn-two {
  margin: 0 30px;
  margin-bottom: 10px;
  padding: 15px 25px;
  font-size: 1.4rem;
  background-color: var(--primario);
  color: var(--parrafos);
  border: 2px solid var(--primario);
  border-radius: 50px;
}

.buttons .btn-one {
  margin: 0 30px;
  margin-bottom: 60px;
  padding: 15px 25px;
  font-size: 1.7rem;
  background-color: var(--fondoBotones);
  color: var(--secundario);
  border: 0.2rem solid var(--secundario);
  border-radius: 50px;
}

/* ABOUT STYLES */
.about_section {
  height: auto;
  padding: 50px 30px;
  background-color: var(--fondo2);
}

.about_container2 {
  display: inline-block;
  width: 100%;
}

.about_img img {
  height: 200px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}

.about_text {
  height: auto;
  width: 100%;
  padding: 2rem 5rem;
  text-align: center;
  background-color: var(--fondo2);
  border-radius: 0 0 4px 4px;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
}

.about_text h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.about_text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.about_text hr {
  margin-bottom: 10px;
  border: 1px solid black;
}

.about_text p {
  font-size: 1.4rem;
}

/* SERVICES STYLES */
.service_section {
  padding: 50px 30px;
  background-image: url(/assets/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.service_content {
  width: 100%;
  padding: 46px;
  background-color: var(--fondo2);
  border-radius: 4px;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
}

.service_text {
  text-align: center;
}

.service_text h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.service_text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.service_text hr {
  margin-bottom: 20px;
  border: 1px solid black;
}

.service_products {
  width: 100%;
}

.service_products figure img {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0.4rem;
  object-fit: cover;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25);
}

#img3 {
  margin-bottom: 0;
}

#img4,
#img5 {
  display: none;
}

/* CONTACT SECTION */
.contact {
  padding: 50px 3px;
  text-align: center;
}

.contact h3 {
  font-size: 2rem;
  font-weight: 600;
}

.contact hr {
  width: 72%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
}

.contact_content {
  width: 100%;
  padding: 10px;
  display: flex;
  text-transform: uppercase;
}

.contact_content h3,
.contact_content p {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: start;
}

.contact_content p {
  font-weight: 600;
}

.contact_icon {
  min-width: 60px;
  font-size: 2.5rem;
  color: var(--primario);
}

.map {
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 5px 3px 30px 5px var(--sombra);
}

/* FOOTER */
.footer {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--oscuro);
  color: var(--parrafos);
}

.footer_content h2 {
  margin: 10px 0;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secundario);
}

.footer_content h2 span {
  font-weight: 600;
  color: var(--primario);
}

.copy {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.copy a {
  color: var(--primario);
}
