/* Global */
:root {
  --primario: #e12229;
  --secundario: #02662d;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo: #eeeeee;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(16, 16, 16, 0.5);
  --sombra: rgba(0, 0, 0, 0.25);
  --font_texto: 1.4rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  min-width: 380px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HEADER STYLES */
.logo_container p {
  color: var(--secundario);
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  left: 30px;
}

.logo_container p span {
  color: var(--primario);
  font-weight: 600;
}

header.header {
  padding: 0;
  background-color: var(--oscuro);
}

.inner_header {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  position: fixed;
  background-color: var(--oscuro);
  width: 100%;
  align-items: center;
}

.inner_header li {
  padding: 0;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 3rem;
}

.inner_header li:last-child {
  padding-bottom: 3rem;
}

.navigation {
    display: none;
    position: fixed;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 6rem;
    width: 100%;
    background-color: var(--oscuro);
    top: 100%;
    transition: left 0.3s;
}

.nav_hidden {
    display: block;
    top: 0%;
}

.toggle {
    color: var(--fondo2);
    background: none;
    border: none;
    font-size: 2.5rem;
    display: flex;
    cursor: pointer;
}

/* BANNER STYLES */
.banner {
  display: flex;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
}

.banner-image {
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 75%)),
    url(../assets/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner p {
  color: var(--parrafos);
  font-size: var(--font_texto);
}

.banner h1 {
  color: var(--secundario);
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  margin: 0;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.banner h1 span {
  color: var(--primario);
  font-weight: 600;
}

.banner hr {
  width: 18rem;
  border: 0.1rem solid var(--parrafos);
  margin: 1.5rem auto;
}

.banner h2 {
  color: var(--parrafos);
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.banner p {
  font-size: var(--font_texto);
}

.text {
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.buttons .btn-two {
  margin: 0 3rem;
  margin-bottom: 1rem;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  color: var(--parrafos);
  border: 0.2rem solid var(--primario);
  background-color: var(--primario);
}

.buttons .btn-one {
  margin: 0 3rem;
  margin-bottom: 6rem;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: var(--secundario);
  border: 0.2rem solid var(--secundario);
  background-color: var(--fondoBotones);
}

/* ABOUT STYLES */
.about {
  color: var(--fondo);
}

.about img {
  border-radius: 0.4rem 0.4rem 0 0;
  margin-bottom: 2rem;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.about_container {
  margin: 5rem 3rem;
  color: var(--oscuro);
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 3rem 0.5rem var(--sombra);
}

.about_content {
  margin: 0 5rem;
}

.about_content p {
  font-size: var(--font_texto);
  padding: 1rem 0;
}

.about_content h2 {
  font-size: 2rem;
  font-weight: 600;
}

.about_content hr {
  margin: 0 auto;
  width: 90%;
  border: 0.1rem solid black;
}

.about_info {
  padding-bottom: 4rem;
}

/* SERVICES STYLES */
.services {
  text-align: center;
  padding: 5rem 0;
}

.services_content {
  background-color: var(--fondo2);
  margin: 0 3rem;
  border-radius: 0.5rem;
}

.images_services {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.images_services img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.4rem;
}

.services_text p {
  padding: 1rem;
  padding-top: 3rem;
  color: black;
  font-size: var(--font_texto);
}

.services_text h3 {
  font-size: 2rem;
  font-weight: 600;
}

.services_text hr {
  margin: 0 auto;
  width: 73%;
  border: 0.1rem solid black;
}

#servicios1,
#servicios2,
#servicios3 {
  height: 16rem;
  padding: 0 4rem;
}

#servicios4,
#servicios5 {
  display: none;
}

.services_image {
  background: url(../assets/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estas lineas de código hay que revisarlas a la hora de hacer para desktop y tablet. */
/* 
.services_display {
  display: none;
} */

/* CONTACT SECTION */

.contact {
  text-align: center;
  padding: 3rem 2rem;
}

.contact hr {
  margin-top: 0;
}

.contact_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact_content {
  flex-grow: 1;
  padding: 1rem 2rem;
}

.contact_icon {
  min-width: 6rem;
  font-size: 2rem;
  color: var(--primario);
  padding: 0 2rem;
}

.contact_total {
  margin: 0 1rem;
}

.map {
  box-shadow: 0.5rem 0.3rem 3rem 0.5rem var(--sombra);
}

/* FOOTER */

.footer {
  background-color: var(--oscuro);
  color: var(--parrafos);
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}

.footer_content h2 {
  color: var(--primario);
  font-weight: 300;
  margin: 1rem 0;
}

.footer_content h2 span {
  color: var(--secundario);
}

.copy {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.copy a {
  color: var(--primario);
}
