/* Global */
:root {
  --primario: #e12229;
  --secundario: #02662d;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo: #eeeeee;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(16, 16, 16, 0.5);
  --sombra: rgba(0, 0, 0, 0.25);
  --font_texto: 1.4rem;
}

html {
  min-width: 380px;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HEADER STYLES */
.logo_container p {
  display: flex;
  font-size: 2rem;
  width: 50%;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  width: 100%;
  height: 6rem;
}

.inner_header li {
  padding: 0;
  margin-top: 0rem;
  display: inline-block;
}

.inner_header li:last-child {
  padding-bottom: 0rem;
}

.navigation {
  position: static;
  margin-top: 0rem;
  width: 50%;
}

.navigation li a {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
}

.toggle {
  display: none;
}

/* BANNER STYLES */
.banner {
  display: flex;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
  letter-spacing: 0.15rem;
}

.banner-image {
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 75%)),
    url(../assets/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 870px;
}

.banner p {
  color: var(--parrafos);
  font-size: var(--font_texto);
}

.banner h1 {
  color: var(--secundario);
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.banner h1 span {
  color: var(--primario);
  font-weight: 600;
}

.banner hr {
  width: 18rem;
  border: 0.1rem solid var(--parrafos);
  margin: 1.5rem auto;
}

.banner h2 {
  color: var(--parrafos);
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.text {
  margin-bottom: 2rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.buttons .btn-two {
  margin: 0 3rem;
  margin-bottom: 1rem;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  color: var(--parrafos);
  border: 0.2rem solid var(--primario);
  background-color: var(--primario);
}

.buttons .btn-one {
  margin: 0 3rem;
  margin-bottom: 6rem;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: var(--secundario);
  border: 0.2rem solid var(--secundario);
  background-color: var(--fondoBotones);
}
