/* Global */
:root {
  --primario: #e12229;
  --secundario: #02662d;
  --oscuro: #101010;
  --parrafos: #e3e3e3;
  --fondo: #eeeeee;
  --fondo2: #e8e8e8;
  --fondoBotones: rgba(16, 16, 16, 0.5);
  --sombra: rgba(0, 0, 0, 0.25);
  --font_texto: 1.4rem;
}

html {
  min-width: 380px;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HEADER STYLES */
.logo_container p {
  display: flex;
  font-size: 2rem;
  width: 50%;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  width: 100%;
  height: 6rem;
}

.inner_header li {
  padding: 0;
  margin-top: 0rem;
  display: inline-block;
}

.inner_header li:last-child {
  padding-bottom: 0rem;
}

.navigation {
  position: static;
  margin-top: 0rem;
  width: 50%;
}

.navigation li a {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
}

.toggle {
  display: none;
}
